body {
    background-image: url;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

h1, h2 {
    text-shadow: 2px 2px 2px yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E8CA40;
    text-align: center; 
    
}

section {
    color: white; 
    
}

section h1, section h2 {
    text-align: left;
    
    
}

#filePicker{
    position: absolute;
    left: 50px;
    top: 50px;
    display: none;
 }
 
 .file1{
    top:48px;
    left:43px;
    padding: 5px 26px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background: #F3B404;
    color: #fff;
 }
 
 .file1:hover{
    background-color: #fff;
    color: #F3B404;
    border: 1px solid #F3B404;
    border-radius: 5px;
 }

img {
    margin: 0 auto;
    border: 2px solid yellow;
    border-radius: 5px;
    display: block; 
    
}

.marveluniverse {
    width: 80%; 
    height: auto; 
}

input[type='file']:hover{
    background-color: #fff;
    color: #F3B404;
    border: 1px solid #F3B404;
 } */

/* h1 {
    color: white;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    margin: 0px;
    padding: 20px;   
} */

.getstarted {
    text-align: center;
}

input[type=text] {
    width: 250px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

input[type=text]:focus{
    border-color:dodgerblue;
    box-shadow:0 0 8px 0 dodgerblue;
}

img.resize {
    width: auto;
    height: 400px;
}

.loader {
    width: 120px;
    height: 120px; 
    border-radius: 50%; 
    border: 16px solid lightgray; 
    border-top: 16px solid blue; 
    animation-name: spin;
    animation-duration: 2s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    left: 45%; 
    top: 50%; 
    position: absolute; 
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.faded {
    opacity: 0.15; 
}